html {
    height: 100%;
}
body {
    background-color: #555;
    width: 100%; /**/
    height: 100%; /**/
}

.main {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 10%;
    background-color: #ddd;
}